{
  "discord":{
    "name":"unless its different than your nation name",
    "url":"https://discordapp.com/api/webhooks/dumbcuntthinkshesgonnagetmykey"
  },
  "ns":{
        "useragent":"probably your email",
        "password":"X-Autologin keys",
        "nation":"completely self explanatory"
  },
  "system":{
        "log":"</path/to/log/directory>"
  }
}
