{
  "discord":{
    "name":"unless its different than your nation name",
    "url":"https://discordapp.com/api/webhooks/dumbcuntthinkshesgonnagetmykey"
  },
  "nationStates":{
        "useragent":"probably your email",
        "password":"you should know this one",
        "nationName":"completely self explanatory"
  },
  "system":{
        "log":"</path/to/log/directory>"
  }
}
